.cart {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
}

.cart h2 {
  margin-bottom: 1rem;
}

.cart-left {
  flex: 0.7;
  margin-right: 1rem;
  background-color: transparent;
  padding: 1rem;
}

.cart-right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cart-right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cart-right div:last-child {
  border: none;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.cart-info p {
  padding: 8px;
}

.cart-right div button {
  padding: 10px 17px;
  width: 100%;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
}

.cart-right div button:hover {
  opacity: 0.8;
}

@media (max-width: 1320px) {
  .cart {
    max-width: 900px;
  }
}
@media (max-width: 960px) {
  .cart {
    max-width: 800px;
    flex-direction: column;
  }
  .cart-left {
    margin: 0;
  }
  .cart-right {
    margin: 1rem;
  }
}
